.navBar {
    background-color: red;
    overflow: hidden;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.navbar a:hover {
    background-color: blue;
}

.inactive {
    background-color: violet;
}

.active {
    background-color: blue;
}


.OneProduct {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
 
  .OneProduct h3 {
    font-size: 1.2em;
    color: #333;
  }
  
  
  .OneProduct p {
    margin: 5px 0;
    color: #666;
  }
  
  
  .OneProduct img {
    max-width: 100%;
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px;
  }
  
  
  .OneProduct button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  .OneProduct button {
    display: block;
    margin: 35px auto;
  }
  
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: -12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1; 
  }
  

  .buy-button {
    display: inline-block;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.buy-button:hover {
    background-color: white;
    color: black;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.AllProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.OneProduct {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  text-align: center;
}

.OneProduct img {
  width: 100%;
  height: auto;
}

.buy-button {
  display: inline-block;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.buy-button:hover {
  background-color: white;
  color: black;
}